// Define variables for your color scheme

// For example:
$red: #E40173;
$blue: #167FFB;
$darkblue: 2940D3;
$yellow: #F5DF4D;
$orange: #E67E22;
$green: #1EDD88;
$gray: #97999B;
$light-gray: #F4F4F4;
