#myTab {
  border-radius: 40px;
  overflow: hidden;
  button{
    color:$red;
    background: white;
  }
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color:white;
  background: $red;
  border: none;
}

#flexzone {
  top: -20px;
  z-index: 100001;
}

.header-dashboard {
  color: white;
  background-color: $darkblue;
  text-align:center;
   height: 150px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.nav-tabs .nav-link {
    margin-bottom: 0px;
    border: 0px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


