// Specific CSS for your home-page


.btn-succes {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  margin: 30px;

}

.btn-succes:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  height: 500px
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.header {
  position: relative;
  background-color: darkblue;
  width: 100vw;
  height: 50vh;
  z-index: -2;
}

.header:after {
    content: "";
    height: 90px;
    left: 0;
    bottom: -90px;
    right: 0;
    position: absolute;
    background-image: linear-gradient(357deg, white 49%, darkblue 50%);
}


.top-header-content {
  text-align: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 90px;
  transform: translateY(-50%);
  color:white
}



#carouselExampleIndicators img {

  max-height: 400px;
  object-fit: cover;
}

#image_home {
  top: -201px;
  position: relative;
  left: 645px;
}

#search_infl {
  width: 400px;
  top: 50vh;
  position: absolute;
  left: 8vw;
}


.influencers .infsection {
min-height: 100vh;
position: relative;
margin-top: -223px;
padding-top: -57px;
}

.search_rel {
  position: relative;
}
