/* h1 {
    color: gray;
  } */


  .container {
    min-height: calc(100vh - 139px);
  }


  #grid_show {
    display:"inline-flex";
    background-color: white;
  }

  .influencer_summary {
    border-right: 1px solid lightgray;
  }


  .pseudoshow {
    color: grey;
    font-size: 30px;
  }


  .titleshow {
    color: grey;
    font-size: 60px;

  }

  .infl_photo {
    width: auto;
    height: 240px;

  }

  .fa-search {
    color: grey;
    position: absolute;
    top: 7px;
    font-size: 25px;
    right: 16px;
  }


  .modal-dialog {
    margin-top: 100px;
    max-width: 900px;
  }

  .infl_photo_show {
    width: 180px;
    height: auto;
  }
