  .container {
    min-height: calc(100vh - 139px);
  }


  #grid_show {
    display:"inline-flex";
    background-color: white;
  }

  .influencer_summary {
    border-right: 1px solid lightgray;
  }


  .pseudoshow {
    color: black;
    font-size: 16px;
    margin-bottom: 5px;
  }



  .infl_photo {
    width: auto;
    height: 240px;

  }

  .fa-search {
    color: grey;
    position: absolute;
    top: 7px;
    font-size: 25px;
    right: 16px;
  }


  .modal-dialog {
    margin-top: 100px;
    max-width: 900px;
  }

  .infl_photo_show {
    width: 180px;
    height: auto;
    border-radius: 10px;
  }

  .modal-content {
    border-radius: 10px;
  }
  .modal-header {
    border-bottom: none;
  }

  .tagshowinfo {
    color: #2940d3;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    .n {
      margin-right: 10px;
      margin-left: 5px;
    }
    .n1 {
      margin-right: 10px;
      margin-left: 0px;
    }
  }

  .modal-title {
    color: black;
    font-size: 32px;
    font-weight: bolder;
  }
