
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
<%#   <a class="navbar-brand" href="/tents">
    <img src="https://www.leparisien.fr/resizer/GmbxnNPcwYwc6G9jknQJRIRn1yU=/932x582/cloudfront-eu-central-1.images.arcpublishing.com/leparisien/ENZHPWPGDGP4OJCXDY6Y433RV4.jpg"/>
  </a> %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="/"><h1>Feeler</h1></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

      <li class="nav-item">
        <a class="nav-link" href="/campaigns">Campaign</a>

      <li class="nav-item">
        <a class="nav-link" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/influencers">All influencers</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://images.unsplash.com/photo-1576827471288-0a8f6d6c937b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=945&q=80"/>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Dashboard</a>
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</div>
