<div class="container">
<h1><strong>It's all about matches</strong></h1>
<h3><strong>Feeler, plateform to find the best matches between a brand and an influencer.</strong></h3>

<%= link_to "Sign up for free", "#", class: "btn btn-gradient" %>
