

//--------------START InfluencersIndexCard----------------//

$primary: #0077b6;
$secondary: #00D1B2;
$section: #ededed;
$muted: #999;

.influencers,.matches {

  .infcolumns {
    margin-top: 0;
    max-width: 1200px;
    margin: 16px auto;
    padding-bottom: 52px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .infsection {
    min-height: 100vh;
    /* position: relative; */
    margin-top: -20px;
    padding-top: 36px;
    .infcard {
      border-radius: 45px;
      overflow:hidden;
      max-width: 300px;
      max-height: 380px;
      margin: 0 auto;
      background-color: white;
      width: 100%;
      box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.08);
      cursor: pointer;
      &:hover {
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
      }


      .infheader {
        color: darkgray;
        }


        .infavatar {

          height: 100%;
          position: relative;
          margin: 0 auto;
          padding-top: 10px;
          display: flex;
          justify-content: center;

          img {
            display: block;
            border-radius: 50%;
            border: 4px solid white;
            height: 150px;
            width: 150px;
            object-fit: cover;
          }

      }
      .card-body {
        padding: 27px;
        .user-meta {
          padding-top: 1px;
          .username {
            font-size: 18px;
            font-weight: 600;
          }
          .position {
            font-size: 90%;
            color: $muted;
          }
        }
      }
      .user-bio {
        padding-top: 8px;
        font-size: 92%;
        color: $muted;
      }
      .action {
        padding-top: 20px;
        .button {
          padding: 16px 20px 16px 20px;
          background: $primary;
          border-color: $primary;
          color: white;
          border-radius: 100px;
          transition: opacity .3s;
          &:hover {
            opacity: 0.7;
            text-decoration: none;
          }
        }
      }
    }
  }

  #flex {
      margin-top: 20px;
      display: flex;
  }

  //Css Ninja link
  .link-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $primary;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    img {
      width: 32px;
      height: 32px;
      display: block;
    }
    &:hover {
      transform: scale(1.1) rotate(180deg);
      background: $secondary;
    }
  }


}
//--------------END InfluencersIndexCard----------------//




.card-campaign {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  color: darkgray;
}


.card-campaign > img {
  height: 200px;
  width: 300px;
  object-fit: cover;
}



.card-campaign p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-campaign .card-campaign-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

}

.cards_home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

//--------------START DashboardCampaignCard----------------//

#card-campaign-dashboard{
  display: flex;
  background-color: white;
  margin: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.04);
  border-radius: 10px;
  justify-content: space-between;
  .flexleft {
    display: flex;
  }
  .card-campaign-infos{
    margin-left: 50px;
    margin-top: 36px;
    h4 {
      color: black;
      font-size: 32px;
      font-weight: bolder;
    }
    h6 {
      color: #2940d3;
      font-weight: bold;

    }
    p {
      color: #2940d3;
      font-size: 10px;
    }
  }
  .campbuttflex {
  display: flex;
  align-items: flex-end;
  margin-bottom: 27px;
  margin-left: 239px;
    .btn {
      margin-right: 10px;
      height: 46px;
    }
  }
}

.style_image {
  border-radius: 10px;
}
.hashtagcampinfo {
  display: flex;
  .htag {
    color: #2940d3;
    background-color: #ebedf9;
    border-radius: 10px;
    height: 28px;
    width: 100%;
    text-align: center;
  }
}

#htag1 {
  margin-left: 20px;
}

//--------------END DashboardCampaignCard----------------//
.username {
text-align: center;
color: black;
}

.position {
text-align: center;
}
