.form-login {
  background: white;
  padding: 10px 50px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.background{
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.row{
  padding-bottom: 50px;
}

.forms {
    width: 500px;
    margin: auto
}

.back {
    background-color: darkblue;
    padding-bottom: 50px;
}

#image_new {
    bottom: 0;
    right: 0
}

.btn-search {
  height: 40px;
  background-color: blue;
  border: 2px solid white;
  color: white;
}
#btn_right {
  float: right;

}

#new_campaign {
margin-bottom: 80px;
}

label {
  color:aliceblue
}



.grid-infl {
  grid-template-columns: 3fr 1fr 1fr 1fr;
  display: inline-grid;
  grid-gap: 1em;
}

.back {
  padding-top: 40px;
}

#btn_right {
  background: rgba(228, 1, 115, 1)
  
}

#btn_right :hover {
  opacity: 1;

}

