.navbar-lewagon {
  justify-content: space-between;
  background: darkblue;
  box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 10000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  height: 48px;
  border-radius: 20%;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.08);
}

.avatar {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.08);

}

.navbar h1 {
  color: white ;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  position: center;
}

a.nav-link {
  color: white !important;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}


#navbarSupportedContent {
  color: white;
}

.min-container {
  min-height: calc(100vh - 74px - 100px) ;
}

.dropdown-menu a {
    color: #343a40;
    margin: 3px;
    border-radius: 20px;

}

.dropdown-menu a:hover {
    color: #343a40;

}
.dropdown-menu{
  padding: 2px 5px 1px 2px;
}

.dropdown-menu  {
    padding: 6px 6px 1px 2px;
}


.dropdown-item {
  border-radius: 12px;
}

#title-navbar {
  text-decoration: none;
}
