<h1>All campaigns</h1>
<div class="container">
  <div class="row">
    <% @campaigns.each do  |campaign| %>
      <div class="col-4">
        <div class="card-campaign">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"/>
          <div class="col-4">
          <div class="card-camapaign-infos">
            <h2><%= campaign.name %></h2>
            <%= campaign.activity.name%></br>
            from
            <p><%= campaign.start_date%></p> to
            <p><%= campaign.end_date%></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

