<h1>All campaigns</h1>
<div class="container">
  <div class="row">
    <% @campaigns.each do  |campaign| %>
      <div class="col-4">
        <div class="card-campaign">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />     
          <div class="card-camapaign-infos">
            <p><%= campaign.name %></p>
            <p><%= campaign.activity.name%></p>
            <p><%= campaign.start_date%></p>
            <p><%= campaign.end_date%></p>
          </div>
        </div>
      </div>  
    <% end %>
  </div>
</div>

